{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h1>Оформление подписки</h1>
    <h4 class="mb-4">
        Подписка стоит 500 рублей. После оформления подписки вы сможете читать все статьи блога без ограничений.
    </h4>
    <p class="mb-5">Нажмите на кнопку ниже, чтобы оформить подписку.</p>

    <form action="{% url 'users:create_payment' %}" method="get">
        <button type="submit" class="btn btn-primary">Оплатить подписку</button>
    </form>
</div>
{% endblock %}